h1 {
    border: 10px solid black;
    color: rgb(0, 0, 0);
    text-align: center;
}

h2 {
    text-emphasis-color: black;
    border: 2px solid blue;
    padding: 10px;
    text-align: center;

}

img {
    align-items: left;
    padding: 10px;

}

#content {
    text-align: right;
    color: red;

}
